<!DOCTYPE html>
<html lang = "en">
<head>
</head>
<body>
	<main class = "scene scene-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}main{% endif %}}">
		{{ content | safe }}
	</main>
	<header>
		<section class = "details">
		</section>
		<section id = "chatbox">
			<div id = "chatter">
				<template id = "chatMsg">
					<p><strong></strong><span></span></p>
				</template>
				{# <p>
					<strong>@SeraphimCoder</strong><span>Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit, sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
					cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
					id est laborum.</span>
				</p>
				<p>
					<strong>@SeraphimCoder</strong><span>Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit, sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua.</span>
				</p> #}
			</div>
		</section>
		{# <section>
			<h1>{{ stream.title }}</h1>
			<p>{{ stream.description }}</p>
			<strong class = "cta">{{ stream.cta }}</strong>
			<ul class = "commands">
				{%- for command in stream.chatCommands -%}
				<li>!{{ command }}</li>
				{%- endfor -%}
			</ul>
		</section> #}
	</header>
	{% include "commands.njk" %}
	{% include "comfyjs/include.njk" %}
</body>
</html>